$font-default:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$font-header: Arial, Helvetica, sans-serif;
$color-background: #A167A5;
$color-tiles-border: #4A306D;
$color-tile-font: #A167A5;
$color-shadow: #0E273C;
$color-button: #E8D7F1;

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: $font-default;
    text-align: center;
}
main {
    background-image: url("./images/bkpic.jpg");
}

h1 {
    font-family: $font-header;
    color: $color-shadow;
    padding: 25px;
}

.player-container {
    background-color: aquamarine;
    padding: 15px;
    

    .player-container__option {
        background-color:#4A306D;
        color: whitesmoke;
        width: 125px;
        border-radius: 3px;
        padding: 5px;
    }

    .player-container__option:hover {
        background-color:#0E273C;
        transform: scale( 1 );
    }

    .player-container__option:active {
        color: yellowgreen;
    }
}
  
.container {
    width:350px;
    margin:auto;
    padding:5px;
    &__tiles {
        background-color: $color-background;
        display:grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);
        gap:5px;
        box-shadow:2px 2px $color-shadow;
        border-radius: 3px;
        width:auto;
        padding: 5px;
        border: 1px solid $color-tiles-border;

        div {
            box-shadow:2px 2px $color-shadow;
            background-color: $color-button;
            height:110px;
        }

        .tile {
            color:$color-tile-font;
            font-size: 80px;

            i {
                text-shadow: 4px 4px $color-shadow;
                padding: 10px;
            }
        }
    }

    .start-button {
        background-color: $color-button;
        border: 1px solid $color-shadow;
        padding:10px;
        font-size: 20px;
        width: 330px;
        margin:5px;
        box-shadow: 4px 4px $color-background;
        border-radius: 3px;
        transition: transform 0.1s ease-in-out;
    }
}
.message {
        background-color: aquamarine;
        padding: 5px;
            position: absolute;
            top: -5px;
            left: -5px;
            display: none;
            align-items: center;
            justify-content: center;
            background: #ffffff;
            color: #000000;
            font-size: 2.5rem;
            font-weight: bold;
            opacity: 0.7;
            width: 310px;
            height: 310px;
    }
